<div class="panel-body">
  <div class="row">
    <div class="col-md-12" style="height: 63px;"> 
      <h2 style="cursor: pointer;" ng-hide="editarNomeEmpresa" ng-mouseover="mouseOver('empresa')" ng-mouseleave="mouseLeave('empresa')" ng-click="editNomeEmpresa()">{{empresa}}</h2>
      <button ng-show="botaoEditarNomeEmpresa" style="left: 15px; top: 28px; position: relative; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
      <input style="position: relative; top: 17px;" ng-show="editarNomeEmpresa" ng-blur="editNomeEmpresa()" class="form-control" ng-model="empresa" placeholder="Novo cliente">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div style="height: 333px;" class="panel panel-default" >
        <div class="col-md-12">
          <div class="row">

            <!-- Menu lateral -->
            <div class="col-md-2">
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 style="cursor: pointer; text-align: right; width: 100%;" ng-class="{bold: menuDadosCadastrais}" ng-click="clickMenu('dc')">Dados cadastrais</h5>
                </div>
              </div>
              
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 style="cursor: pointer; text-align: right; width: 100%;" ng-class="{bold: menuOfertas}" ng-click="clickMenu('o')">Ofertas</h5>
                </div>
              </div>

              <!-- 
              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 style="cursor: pointer; text-align: right; width: 100%;" ng-class="{bold: menuSEO}" ng-click="clickMenu('seo')">SEO</h5>
                </div>
              </div>

              <div class="row" style="width: 100%;">
                <div class="col-md-12">
                  <h5 style="cursor: pointer; text-align: right; width: 100%;" ng-class="{bold: menuMetas}" ng-click="clickMenu('m')">Metas</h5>
                </div>
              </div>
              -->

            </div>
            <!-- Menu lateral -->


            <div class="col-md-10" >
              <div style="margin-top: 10px;" class="row">

                <!-- Dados Cadastrais -->
                <div ng-show="menuDadosCadastrais" class="row">
                  <div class="col-md-12" >
                    <div class="row">
                      <div class="col-md-12" style="height: 30px;">
                        <h6 style="text-align: left !important; margin: 0px;">Tipo</h6>
                        <h5 ng-hide="editarTipo" ng-mouseover="mouseOver('tipo')" ng-mouseleave="mouseLeave('tipo')" ng-click="editTipo()" style="cursor: pointer; margin-top: 5px;">{{tipoCliente}}</h5>
                        <button ng-show="botaoEditarTipo" style="position: relative; left: 10px; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
                        <select ng-show="editarTipo" style="position: relative; top: -31px; padding: 4px; font-size: 13px;" class="form-control" ng-blur="editTipo()" ng-model="tipo" ng-options="tipo.id as tipo.descricao for tipo in listaTipos" >
                          <option value="">--Selecione um tipo--</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12" style="height: 30px;">
                        <h6 style="text-align: left !important; margin: 0px;">Status</h6>
                        <h5 ng-hide="editarStatus" ng-mouseover="mouseOver('status')" ng-mouseleave="mouseLeave('status')" ng-click="editStatus()" style="cursor: pointer; margin-top: 5px;">{{statusDescricao}}</h5>
                        <button ng-show="botaoEditarStatus" style="position: relative; left: 10px; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
                        <select ng-show="editarStatus" style="position: relative; top: -31px; padding: 4px; font-size: 13px;" class="form-control" ng-blur="editStatus()" ng-model="status" ng-options="status.id as status.descricao for status in listaStatus" >
                          <option value="">--Selecione um status--</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12" style="height: 30px;">
                        <h6 style="text-align: left !important; margin: 0px;">Contato</h6>
                        <h5 ng-hide="editarContato" ng-mouseover="mouseOver('contato')" ng-mouseleave="mouseLeave('contato')" ng-click="editContato()" style="cursor: pointer; margin-top: 5px;">{{contato}}</h5>
                        <button ng-show="botaoEditarContato" style="position: relative; left: 10px; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
                        <input ng-show="editarContato" style="position: relative; top: -31px; padding: 6px; font-size: 13px;" class="form-control" ng-model="contato" ng-blur="editContato()">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12" style="height: 30px;">
                        <h6 style="text-align: left !important; margin: 0px;">Login</h6>
                        <h5 ng-hide="editarLogin" ng-mouseover="mouseOver('login')" ng-mouseleave="mouseLeave('login')" ng-click="editLogin()" style="cursor: pointer; margin-top: 5px;">{{login}}</h5>
                        <button ng-show="botaoEditarLogin" style="position: relative; left: 10px; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
                        <input ng-show="editarLogin" style="position: relative; top: -31px; padding: 6px; font-size: 13px;" class="form-control" ng-model="login" ng-blur="editLogin()" >
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12" style="height: 30px;">
                        <h6 style="text-align: left !important; margin: 0px;">Senha</h6>
                        <h5 ng-hide="editarSenha" ng-mouseover="mouseOver('senha')" ng-mouseleave="mouseLeave('senha')" ng-click="editSenha()" style="cursor: pointer; margin-top: 5px;">{{senha}}</h5>
                        <button ng-show="botaoEditarSenha" style="position: relative; left: 10px; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
                        <input ng-show="editarSenha" style="position: relative; top: -31px; padding: 6px; font-size: 13px;" class="form-control" ng-model="senha" ng-blur="editSenha()" >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Dados Cadastrais -->

                <!-- Ofertas -->
                <div ng-show="menuOfertas" class="row">
                  <div class="col-md-12" >
                    <div class="row" style="margin-bottom: 0px;">
                      <div class="col-md-12" >
                        <div class="panel panel-default" style="height: 286px; margin-bottom: 0px;" >
                          <div class="panel-heading">
                            <h5 class="panel-title">Ofertas</h5>
                            <input id="little" class="form-control" placeholder="Pesquisar" ng-model="filtro"/>
                          </div>
                        
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-12" >
                                <button style="position: relative; top: 7px;" class="btn btn-primary" ng-click="adicionarNovaLandingpage()">Adicionar</button>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12" >
                                <div class="table-responsive">
                                  <table class="table table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th width="10%"></th>
                                        <th width="90%">Landingpage</th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr ng-repeat="oferta in listaOfertas | filter: filtro">
                                        <td width="10%" class="text-center"> 
                                          <button type="button" class="btn btn-default btn-editarCliente" ng-click="editarLandingPage(oferta)" />
                                          <button type="button" class="btn btn-default btn-Email" ng-click="editarBriefing(oferta)"/>
                                          <button type="button" class="btn btn-default btn-excluir" />
                                        </td>

                                        <td width="90%" >{{oferta.Nome}}</td>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Ofertas -->

                <!-- SEO -->
                <!-- 
                <div ng-show="menuSEO" class="row">
                  <div class="col-md-12" >                    
                  </div>
                </div>
                 -->
                <!-- SEO -->

                <!-- Metas -->
                <!-- 
                <div ng-show="menuMetas" class="row">
                  <div class="col-md-12" >                    
                  </div>
                </div>
                 -->
                <!-- Metas -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" ng-click="salvar()">Salvar</button>
      <button class="btn btn-primary" ng-click="voltar()">Voltar</button>
    </div>
  </div>
</div>


<!-- Modal LandingPage -->
<div id="modalLandingPage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div class="row" style="margin: 0px;">
          <div class="col-md-12">

            <!-- Nome da landingpage -->
            <div class="row" style="margin: 0px;">
              <div class="col-md-12" style="height: 33px;">
                <h2 ng-hide="editarNomeLandingPage" style="position: relative; top: -26px; margin: 0px; left: -17px; cursor: pointer;" ng-mouseover="mouseOver('oferta')" ng-mouseleave="mouseLeave('oferta')" ng-click="editNomeLandingpage()">{{NomeLandingpage}}</h2>
                <button ng-show="botaoEditarNomeLandingpage" style="position: relative; top: -17px; border: 0;" type="button" class="btn btn-default btn-editarCliente" />
                <input id="salvarEdicaoCampo" style="left: -15px; position: relative; top: -23px; width: 738px;" ng-show="editarNomeLandingPage" ng-blur="editNomeLandingpage()" class="form-control" ng-model="NomeLandingpage">
              </div>
            </div>
            <!-- Nome da landingpage -->

            <!-- ID Página -->
            <div class="row">
              <div class="col-md-12">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="pageID">ID da página</label>
                  <input class="form-control" id="pageID" name="pageID" ng-model="pageID" required>
                </div>
              </div>
            </div>
            <!-- ID Página -->

            <!-- PagePath / URL -->
            <div class="row">
              <div class="col-md-6">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="pagePath">Page path</label>
                  <input class="form-control" id="pagePath" name="pagePath" ng-model="pagePath" required>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="urlAcesso">URL de acesso</label>
                  <input class="form-control" id="urlAcesso" name="urlAcesso" ng-model="urlAcesso" required>
                </div>
              </div>
            </div>
            <!-- PagePath / URL -->

            <!-- Campanha Adwords -->
            <div class="row">
              <div class="col-md-12">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="campanhaAdwords">Campanha Adwords</label>
                  <input class="form-control" id="pageID" name="campanhaAdwords" ng-model="campanhaAdwords" required>
                </div>
              </div>
            </div>
            <!-- Campanha Adwords -->


            <!-- Dados do Analytics -->
            <div class="row">
              <div class="col-md-4">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="contaAnalytics">Conta</label>

                  <select class="form-control" id="contaAnalytics" ng-model="contaAnalytics" ng-options="conta.id as conta.nome for conta in listaContasAnalytics | orderBy: 'nome'" ng-change="alterarConta()">
                    <option value="">--Selecione uma conta--</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="propriedadeAnalytics">Propriedade</label>

                  <select class="form-control" id="propriedadeAnalytics" ng-model="propriedadeAnalytics" ng-options="conta.id as conta.nome for conta in listaPropriedadesAnalytics | orderBy: 'nome'" 
                    ng-change="alterarPropriedade()">
                    <option value="">--Selecione uma propriedade--</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group" style="margin-bottom: 0px; display: block;">
                  <label style="position: relative; top: -8px; text-align: left; left: -10px;" class="input-group-addon" for="vistaAnalytics">Vista da propriedade</label>

                  <select class="form-control" id="vistaAnalytics" ng-model="vistaAnalytics" ng-options="conta.id as conta.nome for conta in listaVistasAnalytics | orderBy: 'nome'" >
                    <option value="">--Selecione uma vista--</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Dados do Analytics -->
            
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button style="position: relative; left: -14px;" type="button" class="btn btn-primary" ng-click="salvarLandingPage()">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal LandingPage -->



<!-- Modal Breifing -->
<div id="modalBriefing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 800px;" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row" style="margin: 0px;">
          <div class="col-md-12">

            <!-- Briefing -->
            <div class="row" style="margin: 0px;">
              <div class="col-md-12" style="height: 33px;">
                <h2 style="position: relative; top: -26px; margin: 0px; left: -17px; cursor: pointer;">Briefing</h2>
              </div>
            </div>
            <!-- Briefing -->


            <!-- Perguntas -->
            <div class="row">
              <div class="col-md-12">
                <div class="input-group" style="margin-bottom: 0px; display: block;">

                  <div class="col-md-11">
                    <label style="position: relative; top: -8px; text-align: left; left: -26px;" class="input-group-addon" for="pageID">{{perguntaBriefing}}</label>
                  </div>

                  <div class="col-md-1" style="height: 34px;">
                    <div style="float: right; left: 57px; position: relative;">
                      <label style="position: relative; font-size: 25px; font-weight: bold; top: -20px; left: -10px;" class="input-group-addon">{{perguntaAtualBriefing}}</label>                  
                      <label style="position: relative; top: -15px; left: -30px;" class="input-group-addon">/ {{totalPerguntasBriefing}}</label>                  
                    </div>
                  </div>

                  <textarea id="txtAreaResposta" style="height: 150px;" wrap="hard" class="form-control" placeholder="{{placeholderBriefing}}" ng-model="respostaBriefing" required/>
                </div>
              </div>
            </div>
            <!-- Pergunta-->
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button ng-disabled="perguntaAtualBriefing == 1" ng style="float: left;" type="button" class="btn btn-primary" ng-click="voltarBriefing()">Voltar</button>
        <button ng-disabled="perguntaAtualBriefing == 12" style="float: left;" type="button" class="btn btn-primary" ng-click="avancarBriefing()">Avançar</button>

        <button style="position: relative; left: -14px;" type="button" class="btn btn-primary" ng-click="salvarBriefing()">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Breifing -->
