<div class="panel-body">
	 <div class="row">
	    <div class="col-md-3">  
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h5 class="panel-title">Leads</h5>
	          <button id="buttonTooltip" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Nam sit amet nulla a nunc feugiat efficitur eget id diam"/>
	        </div>
	        <div class="panel-body">
	          <h4>{{leads}}</h4> 
	        </div>
	      </div>
	    </div>

	    <div class="col-md-3">  
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h5 class="panel-title">Vendas</h5>
	          <button id="buttonTooltip" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Nam sit amet nulla a nunc feugiat efficitur eget id diam"/>
	        </div>
	        <div class="panel-body">
	          <h4 >{{vendas}}</h4> 
	        </div>
	      </div>
	    </div>

	    <div class="col-md-3">  
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h5 class="panel-title">Timing de vendas</h5>
	          <button id="buttonTooltip" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Nam sit amet nulla a nunc feugiat efficitur eget id diam"/>
	        </div>
	        <div class="panel-body">
	          <h4>{{timingVendas}}</h4>
	        </div>
	      </div>
	    </div>

	    <div class="col-md-3">  
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h5 class="panel-title">Valor em vendas</h5>
	          <button id="buttonTooltip" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Nam sit amet nulla a nunc feugiat efficitur eget id diam"/>
	        </div>
	        <div class="panel-body">
	          <h4 >R$ {{valorVendas}}</h4>
	        </div>
	      </div>
	    </div>
	  </div>


	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" id="panel-destaque">
		    <div class="panel-heading">
		      <h5 class="panel-title">Leads</h5>
		      <button id="littleButton" name="littleButton" class="btn btn-primary" ng-click="novoLead()" rel="popoverNovoLead"  />
		      <input id="little" class="form-control" placeholder="Pesquisar" ng-model="filtro"/>
		    </div>
		    
		    <div class="panel-body">
		      <br/>

		      <div class="table-responsive">
		        <table class="table table-hover table-striped">
		          <thead>
		            <tr>
		              <th width="3%" ng-show="permiteExcluirLead" ></th>
		              <th width="30%">Empresa</th>
		              <th width="17%">Interesse</th>
		              <th width="10%">Entrada</th>
		              <th width="20%">Status</th>
		              <th width="10%">Valor venda</th>
		              <th width="10%">Fechamento</th>
		            </tr>
		          </thead>

		          <tbody>
		            <tr ng-repeat="itemLead in listaLeads | filter: filtro | orderBy: ordenacao : opcaoReverse ">
		              <td ng-show="permiteExcluirLead" width="3%">
		                <button type="button" class="btn btn-primary" ng-click="excluirLead(itemLead)">X</button>
		              </td>

		              <td style="cursor: pointer; position: absolute;" rel="popover" width="30%" id="empresa{{itemLead._id}}" ng-mouseover="mouseOver(itemLead)" ng-mouseleave="mouseLeave(itemLead)">{{itemLead.Empresa}}
		              	<div class="hidden" id="contentHover{{itemLead._id}}" name="contentHover{{itemLead._id}}">
		                	{{itemLead.Nome}}
		                	<br/>
		                	{{itemLead.Cargo}}
		                	<br/>
		                	{{itemLead.Email}}
		                	<br/>
		                	{{itemLead.Telefone}}
		                </div>
		              </td>

		              <td width="17%">{{itemLead.Interesse}}</td>
		              <td width="10%">{{itemLead.DataEntrada}}</td>
		              
		              <td width="20%" class="text-center"> 
	    	            <select 
	    	            	class="form-control" 
	    	            	style="height: 30px; margin-top: -2px; font-size: 14px; padding: 0px;"
	    	            	id="propriedades{{itemLead._id}}"
	        	          	ng-model="itemLead.IDStatus"
	            	      	ng-options="status.id as status.descricao for status in listaStatus"
	                	  	ng-change="salvarLead(itemLead)" 
	                	  	rel="popover">
		                </select>

		                <div class="hidden" id="contentLeadFechamento{{itemLead._id}}" name="contentLeadFechamento{{itemLead._id}}">
		                	<input id="teste" class="form-control" name="valorLeadFechamento{{itemLead._id}}" placeholder="R$ 0,00" >
        					<input id="teste" type="date" class="form-control" name="entradaLeadFechamento{{itemLead._id}}" >
        					<br/>
		                	<button
		                		id="bttnSalvarLeadFechamento{{itemLead._id}}" 
		                		name="bttnSalvarLeadFechamento{{itemLead._id}}" 
		                		class="btn btn-primary">Salvar</button>
		                </div>
	    	          </td>

		              <td width="10%">{{itemLead.ValorTabela}} </td>
		              <td width="10%">{{itemLead.DataFechamentoTabela}} </td>
		            </tr>
		          </tbody>
		        </table>
		      </div>    
		    </div>    
		</div>    
	  </div>    

	  <div class="hidden" id="contentNovoLead" name="contentNovoLead">
        <input id="teste" class="form-control" name="novoLeadEmpresa" placeholder="Empresa" >
        <input id="teste" class="form-control" name="novoLeadNome" placeholder="Nome" >
        <input id="teste" class="form-control" name="novoLeadCargo" placeholder="Cargo" >
        <input id="teste" class="form-control" name="novoLeadEmail" placeholder="E-mail" >
        <input id="teste" class="form-control" name="novoLeadTelefone" placeholder="Telefone" >
        <select 
        	id="teste"
        	class="form-control" 
        	name="novoLeadOrigem"
        	ng-model="origemSelecionada"
	        ng-options="origem as origem for origem in listaOrigens">
		</select>
        <input id="teste" type="date" class="form-control" name="novoLeadEntrada" placeholder="Data entrada" >
        <br />
        <button id="bttnSalvarNovoLead" name="bttnSalvarNovoLead" class="btn btn-primary">Salvar</button>
        <button id="bttnFecharNovoLead" name="bttnFecharNovoLead" class="btn btn-primary">Fechar</button>
      </div>
	</div>	
</div>