<div class="panel-body">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="javascript:#pnlDadosCadastrais" data-toggle="tab">Dados cadastrais</a></li>
      <li><a href="javascript:#pnlOfertas" data-toggle="tab">Ofertas</a></li>
    </ul>

    <div class="tab-content">
      <div id="pnlDadosCadastrais" class="tab-pane active">
        <div class="panel panel-default" id="panel-destaque">
          <div class="panel-body">
            <div class="col-md-12">
              <input class="form-control" style="margin-top: 0px;" ng-model="empresa" placeholder="Empresa">
              <br/>

              <input class="form-control" style="margin-top: 0px;" ng-model="email" placeholder="E-mail">
              <br/>

              <input class="form-control" style="margin-top: 0px;" ng-model="login" placeholder="Login">
              <br/>

              <input class="form-control" style="margin-top: 0px;" ng-model="senha" placeholder="Senha">
              <br/>

              <select 
                class="form-control" 
                style="margin-top: 0px; padding: 6px;"
                ng-model="tipoCliente"
                ng-options="tipo.id as tipo.descricao for tipo in listaTipos">
              </select>

            </div>
          </div>
        </div>
      </div>

      <div id="pnlOfertas" class="tab-pane">
        <div class="panel panel-default" id="panel-destaque">
          <div class="panel-body">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-9">
                  <input class="form-control" ng-model="nomeEntradaOferta">
                </div>

                <div class="col-md-2">
                  <input type="date" class="form-control" ng-model="dataEntradaOferta">
                </div>

                <div class="col-md-1">
                  <button class="btn btn-primary" ng-click="adicionarOfertas()">Adicionar</button>
                </div>                      
              </div>

              <div class="row">
                <table class="table table-hover" style="overflow: auto; height: 100px;">
                  <thead>
                    <tr>
                      <th width="80%">Nome</th>
                      <th width="20%" class="text-center">Data entrada</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="item in listaOfertas">
                      <td width="80%">{{item.Nome}}</td>
                      <td width="20%" class="text-center">{{item.DataEntradaShow}}</td>      
                    </tr>
                  </tbody>
                </table>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <button class="btn btn-primary" ng-click="salvar()">Salvar</button>
  <button class="btn btn-primary" ng-click="voltar()">Voltar</button>
</div>

    











<!--
<div class="panel-body">
  

  <div ng-show="tipoSelecionado == 'M'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Páginas</h5>
      </div>

      <div class="panel-body">
        <div class="col-md-12">
          <div class="row">
            <button class="btn btn-primary" ng-click="unbounce()">Adicionar</button>
          </div>

          <div class="row">
            <table class="table table-hover" style="overflow: auto; height: 100px;">
              <thead>
                <tr>
                  <th class="text-center">Nome</th>
                  <th class="text-center">PageID</th>
                  <th class="text-center">PagePath</th>
                  <th class="text-center">Adwords</th>
                  <th class="text-center">Data entrada</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="item in listaPaginasUnbounce">
                  <td>
                    <input class="form-control" ng-model="item.Nome" >
                  </td>

                  <td>
                    <input class="form-control" ng-model="item.IDPagina" >
                  </td>

                  <td>
                    <input class="form-control" ng-model="item.PagePath" >
                  </td>

                  <td>
                    <input class="form-control" ng-model="item.Adwords" >
                  </td>

                  <td>
                    <input type="date" class="form-control" ng-model="item.DataEntrada" >
                  </td>      
                </tr>
              </tbody>
            </table>
          </div>  
        </div>  
      </div>  
    </div>  
  </div>

  <div ng-show="tipoSelecionado == 'C'">
    Adwords
    <input class="form-control" ng-model="adwords" placeholder="">
    <br/>

    API Key (Mailchimp)
    <input class="form-control" ng-model="apikeymailchimp" placeholder="">
    <br/>

    <div >
      Contas
      <select class="form-control" id="contas"
        ng-model="contaSelecionada"
        ng-options="conta.id as conta.nome for conta in accounts"
        ng-change="popularListaWebPropertyId()">
        <option value="">--Selecione uma conta--</option>
      </select>
    </div>

    <br />

    <div ng-show="contaSelecionada">
      Propriedades
      <select class="form-control" id="propriedades"
        ng-model="propriedadeSelecionada"
        ng-options="webProperty.id as webProperty.nome for webProperty in webPropertyIds"
        ng-change="popularListaProfileId()">
        <option value="">--Selecione uma propriedade--</option>
      </select>
    </div>

    <br />

    <div ng-show="propriedadeSelecionada">
      Visualizar
      <select class="form-control" id="perfil"
        ng-model="perfilSelecionado"
        ng-options="profile.id as profile.nome for profile in profileIds">
        <option value="">--Selecione um perfil--</option>
      </select>
    </div>
  </div>

  <br/>

  <button class="btn btn-primary" ng-click="salvar()">Salvar</button>
  <button class="btn btn-primary" ng-click="voltar()">Voltar</button>
</div>


<div class="modal fade" id="modalUnbounce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title">Incluir páginas</h6>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            
            Nome
            <input class="form-control" id="login" name="login" ng-model="paginaNome" required>

            <br />

            PageID
            <input class="form-control" id="login" name="login" ng-model="paginaPageID" required>

            <br />

            PagePath
            <input class="form-control" id="login" name="login" ng-model="paginaPagePath" required>

            <br />

            Adwords
            <input class="form-control" id="login" name="login" ng-model="paginaAdwords" required>

            <br />

            <div>
              Contas
              <select class="form-control" id="contas"
                ng-model="contaSelecionada"
                ng-options="conta.id as conta.nome for conta in accounts"
                ng-change="popularListaWebPropertyId()">
                <option value="">--Selecione uma conta--</option>
              </select>
            </div>

            <br />

            <div ng-show="contaSelecionada">
              Propriedades
              <select class="form-control" id="propriedades"
                ng-model="propriedadeSelecionada"
                ng-options="webProperty.id as webProperty.nome for webProperty in webPropertyIds"
                ng-change="popularListaProfileId()">
                <option value="">--Selecione uma propriedade--</option>
              </select>
            </div>

            <br />

            <div ng-show="propriedadeSelecionada">
              Visualizar
              <select class="form-control" id="perfil"
                ng-model="perfilSelecionado"
                ng-options="profile.id as profile.nome for profile in profileIds">
                <option value="">--Selecione um perfil--</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button ng-disabled="perfilSelecionado == ''" type="button" class="btn btn-primary" ng-click="fecharModalUnbounce()">Salvar</button>
      </div>
    </div>
  </div>
</div>
-->