<div class="panel-body">
    <div ng-hide="campanhaSelecionada" class="row">
        <div class="col-md-12" >
            <h1>Selecione uma oferta para visualização dos objetivos.</h1>
        </div>
    </div>


    <div ng-show="campanhaSelecionada" class="row">
        <div class="col-md-12" >
            <div class="row">
                <div class="col-md-6" >
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Oferta</h5>
                        </div>
                        
                        <div class="panel-body">
                          <h5>{{produtoServicosTrabalhados}}</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" >  
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Região</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{abrangenciaGeografica}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" > 
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Público alvo</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{publicoAlvo}}</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" > 
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Encontrabilidade</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{comoClientesProcuramGoogle}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" > 
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Pontos fortes</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{atributosTrabalhados}}</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" > 
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Diferenciais</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{pricipaisDiferenciais}}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" > 
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Mercado</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{clientes}}</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" > 
                    <div class="panel panel-default" style="height: 100px; margin-bottom: 5px;">
                        <div class="panel-heading">
                          <h5 class="panel-title">Referências</h5>
                        </div>
                        
                        <div class="panel-body">
                            <h5>{{referenciaVisual}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>