<div class="panel-body">
    <div class="row">
        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Oferta</h5>
                </div>
                
                <div class="panel-body">
                  <h5>Teste</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Região</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Público alvo</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Encontrabilidade</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Pontos fortes</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Diferenciais</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Mercado</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h5 class="panel-title">Referências</h5>
                </div>
                
                <div class="panel-body">
                    <h5>Teste</h5>
                </div>
            </div>
        </div>
    </div>
</div>